# Explicit list of everything in this directory.
# Each path is listed individually so you can comment/uncomment
# (add or remove the leading #) to control what gets ignored.

# --- Currently ignored ---
.DS_Store
mnist-data.zip
lab1/data/
lab1/lab1_answer.ipynb
lab1/lab1_answer_comment.ipynb

# --- Currently tracked (commented out = NOT ignored) ---
# README.md
# environment.yml
# .gitignore
# lab1/lab1_instruction.ipynb
